@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@100&display=swap');

.main-header{
  font-family: sans-serif, Anybody;

  color: #FDA703;
  background-color: #2C2E34;
}
body{
  background-color: #2C2E34;
  background-image: url('https://images.unsplash.com/photo-1612838320303-4b3b3b3b3b3b');
}

#root {
  padding: 2rem;
  text-align: center;
  font-family: sans-serif, Anybody;
  background-color: #2C2E34;
  /* 100% viewport */
  height: 100vh;


  
}